<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499261098091-anm6r2jl21kgrr3dms4vhegnpg3dqjaa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499261098091-anm6r2jl21kgrr3dms4vhegnpg3dqjaa</string>
	<key>API_KEY</key>
	<string>AIzaSyBUzgfTVYVTaF3_MAxLrMHxu9pHlmZVtis</string>
	<key>GCM_SENDER_ID</key>
	<string>499261098091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.nidaldh.demoIcan</string>
	<key>PROJECT_ID</key>
	<string>icanhel-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>icanhel-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499261098091:ios:6c0f117a6cb2fb1167492e</string>
	<key>DATABASE_URL</key>
	<string>https://icanhel-demo.firebaseio.com</string>
</dict>
</plist>